* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffcc29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background: #fff;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    border: 5px solid #4caf50;
}
.logo {
    width: 100px;
    margin-bottom: 15px;
}
h2 {
    color: #4caf50;
    margin-bottom: 20px;
    font-size: 24px;
}
input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #4caf50;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}
.login-button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
.login-button:hover {
    background: #388e3c;
}
.header{
    width: 100vw;
}